/* images never exceed container's width. */
img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  background-image: url("pic/carpet.png");
  color: #313131;
}

header {
  background-color: red;
  
  font-size: 100%;
  }

hr {
  margin: 1em;
  width: 80%;
}

#about {
  background-color: lightgreen;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}


