/* images never exceed container's width. */
img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

header {
  background-color: lightblue;
  font-size: 100%;
  }

  header-h1 {
  background-color: lightgreen;
  font-size: 100%;
  }

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}


